{{#ifShortVideo this}}
  {{#tile class="swiper-slide"}}
    <div class="tile">
      <div class="icon-section hidden">
        <div class="top-section">
          {{#each attrs}}
            {{#ifequals this "instagram.reel"}}
              <div class="content-icon icon-reel"></div>
            {{/ifequals}}
            {{#ifequals this "youtube.short"}}
              <div class="content-icon icon-youtube-short"></div>
            {{/ifequals}}
          {{/each}}
          {{#ifHasProductTags this}}
            <div class="shopping-icon icon-products"></div>
          {{/ifHasProductTags}}
        </div>
        <div class="center-section">
          <div class="icon-play"></div>
        </div>
        <div class="bottom-section">
          <tile-tags widgetId="{{options.wid}}" tile-id="{{id}}" variant="dark" mode="swiper" context="shortvideo-inline"></tile-tags>
        </div>
      </div>
      <div class="tile-image-wrapper">
        <shopspot-icon tile-id={{id}} widgetId="{{options.wid}}"></shopspot-icon>
        {{playVideo this "100%" "100%"}}
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
  {{/tile}}
{{/ifShortVideo}}
