{{#tile class="swiper-slide" }}
<div class="tile"
         role="article" 
         aria-label="User generated content"
         aria-describedby="tile-{{id}}-description">
  {{#ifequals media "video"}}
    {{#unless options.config.tile_options.auto_play_video }}
      <div class="tile-loading" aria-hidden="true"></div>
    {{/unless}}
  {{/ifequals}}
  <div class="icon-section hidden"  aria-hidden="true">
    <div class="top-section">
      {{#each attrs}}
      {{#ifequals this "instagram.reel"}}
      <div class="content-icon icon-reel" 
           role="img" 
           aria-label="Instagram Reel content"></div>
      {{/ifequals}}
      {{#ifequals this "youtube.short"}}
      <div class="content-icon icon-youtube-short" 
           role="img" 
           aria-label="YouTube Shorts content"></div>
      {{/ifequals}}
      {{/each}}
      {{#ifHasProductTags this}}
      <div class="shopping-icon icon-products" 
           role="img" 
           aria-label="Shoppable content"></div>
      {{/ifHasProductTags}}
    </div>
    <div class="center-section">
      {{#ifequals media "video"}}
      <div class="icon-play" aria-label="Play video: User generated content"></div>
      {{/ifequals}}
    </div>
    {{#ifAutoPlayVideo media options.config.tile_options.auto_play_video }}
    {{else}}
    <div class="bottom-section">
      <tile-tags widgetId="{{options.wid}}" 
                 tile-id="{{id}}" 
                 variant="dark" 
                 mode="swiper" 
                 context="carousel-inline"
                 aria-label="Content tags"></tile-tags>
      <div class="network-icon icon-{{source}}" 
           role="img" 
           aria-label="Content from {{source}}"></div>
    </div>
    {{/ifAutoPlayVideo}}
  </div>
  <div class="tile-image-wrapper">
    {{#ifAutoPlayVideo media options.config.tile_options.auto_play_video }}
      {{playVideo this "100%" "100%"}}
    {{else}}
      <shopspot-icon tile-id="{{id}}" 
                     widgetId="{{options.wid}}"
                     aria-label="Shopping options"></shopspot-icon>
      {{#lazy image_thumbnail_url }}{{/lazy}}
    {{/ifAutoPlayVideo}}
    <div class="swiper-lazy-preloader" aria-hidden="true"></div>
  </div>
</div>
{{/tile}}
